apiVersion: v1
kind: Service
metadata:
  name: {{ include "app.fullname" . }}-api
  labels:
    app.kubernetes.io/name: {{ include "app.name" . }}
    app.kubernetes.io/component: api
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: {{ .Values.api.service.port }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "app.name" . }}
    app.kubernetes.io/component: api
    app.kubernetes.io/instance: {{ .Release.Name }}
